<div class="contract-container">
    <div class="bool-ctn">
        <div class="bool-query">

        <app-bool-search *ngFor="let bool of bools.controls"
                         [bool]="bool" />
        </div>
    <div class="buttons">

        <button (click)="addInput()">+</button>
        <button (click)="performSearch()">Search</button>
    </div>

    </div>
    <div  class="search-result-container">
        <app-search-result *ngFor="let hit of hits"
                           [text]="hit.content"
                           [fileName]="hit.fileName"
                           (download)="onDownload($event)"
        />
    </div>
</div>

