.laws-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input[type="file"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 3rem;
}
.inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
  align-items: center;
  padding: 0 1rem 0 0;
}
