.summary-container {
  border: 2px solid #007bff; /* Blue border */
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px; /* Optional: rounded corners */
  background-color: #f1f1f1; /* Light grey background */
}
.mn-ctn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
